<p>
  <a href="/">Return to Home</a>
</p>

<p>
  Answer:
  <br>
  {{ data }}
</p>

<p>
  Try another?
</p>

<form action="/anagram" method="post">
  <input name="userInput" />
  <button type="submit">Submit</button>
</form>